<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Application{% endblock %}</title>
    <link href="{{ asset('css/index.css') }}" rel="stylesheet"/>

    <meta name="viewport" content="width=device-width, initial-scale=1">


    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,800&display=swap" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>
<body>


<div class="logo_accueil">Application <div class="cercle_logo"></div></div>
<div class="row">
    <div class="col-sm-5 image_accueil">
    </div>
    <div class="col-sm-7 d-flex align-items-center textes_accueil">
        <div>
            <h1 class="col-sm-9 font-weight-bold">Application</h1>
            <p class="col-sm-7 paragraphe_accueil">
                Avec "nom de l'appli", prenez plaisir à travailler. Une super application pour gérer vos projet avec
                efficacité et détermination !
            </p>
            <div class="col-sm-9 d-flex flex-column">
                <a href="" class="btn_connexion">Connexion</a>
                <a href="" class="lien_inscription">Inscription</a>
            </div>
        </div>
    </div>
</div>


<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
</body>
</html>
