@import '../_vars';

.c-task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 40px;
  padding: 5px 10px;
  border: 1px solid $colorLight;
  background-color: $colorLightest;
  cursor: pointer;
  &:hover {
    background-color: $colorLight;
  }
  .c-task__tag {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    min-width: 20px;
    height: 20px;
    padding: 0 5px;
    border: 1px solid $colorGrey;
    border-radius: 4px;
    color: $colorGrey;
    background-color: white;
    font-size: 12px;
    white-space: nowrap;
    &--full {
      color: white;
      background-color: $colorGrey;
    }
  }
  .c-task__title {
    flex-shrink: 1 !important;
  }
  .c-task__priority {
    display: inline-flex;
    width: 20px;
    height: 20px;
    .feather {
      width: 100%;
      height: 100%;
    }
  }
  .c-task__assignee {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: 2px solid $colorLight;
    border-radius: 50%;
    color: white;
    font-size: 12px;
    font-weight: 700;
  }
  .c-task__left,
  .c-task__right {
    display: flex;
    align-items: center;
    > * {
      flex-shrink: 0;
      margin-right: 5px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
  .c-task__left {
    flex-grow: 1;
    margin-right: 10px;
  }

  &--kanban {
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 5px 10px lighten($colorLight, 5%);
    &:hover {
      background-color: $colorLightest;
    }
    .c-task__left {
      flex-wrap: wrap;
    }
    .c-task__tag {
      margin-top: 5px;
      margin-bottom: 5px;
    }
  }
}
