{% extends 'base.html.twig' %}
{% block body %}
<body>
<div>
    <h1></h1>
    <form class="">
        <div class="">
            <label for="name">Nom du projet: </label>
            <input type="text" name="name" id="name" required>
        </div>
        <div class="">
            <label for="description">Description: </label>
            <textarea name="description" id="description" required></textarea>
        </div>
        <button class="" type="button">Créé un nouveau projet</button>
    </form>
</div>
</body>
{% endblock %}
